[2021-01-15 18:17] dgkf opened #1 "Access to code from PhUSE x FDA docker pilot"
At today's meeting, Paul mentioned a pilot that he and I worked on to share docker containers. It would be great if I could share that code with you all. I reached out to the lead from the PhUSE working group to see if we can get that code uploaded somewhere where I can share it.

A brief summary of what was done:
- Delivery of a `docker-compose` build script, chosen for transparency and to adhere

[2021-01-18 18:13] joseph-rickert commented on #1
Hi Doug,
Thanks for contributing your summary of work done. We really need to
coordinate the experiences of groups working on the problem in order to
find a way to move forward. I included your comments as an addendum to the
minutes before I saw
that you also put your comments in the GitHub issues. - a special thanks
for seeding this :)

Best regards,
Joe

Joseph B. Rickert
RStudio R Community Amb

[2021-01-19 19:42] elimillera opened #2 "Start list of working groups working on R/Tables/Graphics"
@joseph-rickert Here is the issue. I'll get thinking this week and sketch out my ideas

[2021-02-05 17:56] mstackhouse opened #3 "Suggest Rewording to Agency of Section 4.1.2.10"
This section reads:

Sponsors should provide the software programs used to create all ADaM datasets and
generate tables and figures associated with primary and secondary efficacy analyses.
Furthermore, sponsors should submit software programs used to generate additional
information included in Section 14 CLINICAL STUDIES of the Prescribing
Information30, if applicable. The specific software utiliz

[2021-02-05 18:04] elong0527 opened #4 "a guidance for preparing ADRG for R program submission"
In [study data technical conformance guide](https://www.fda.gov/media/88173/download), it indicates "The specific software utilized should be specified in the ADRG.".

Could we propose a recommend step-by-step information in ADRG to address this request?

Then we can identify technical gaps to streamline the process.

[2021-03-05 19:21] elong0527 opened #10 "On open source dummy eCTD submission"
Goal: prepare a open source dummy submission and submit to eCTD portal

The information below is to track potential high level action items. Individual issues can be created to track the progress later.

## Data source:

- [CDISC pilot submission](https://bitbucket.cdisc.org/projects/CED/repos/sdtm-adam-pilot-project/browse)

### Action item:

- [ ] This use case is following CDISC term of use

##

[2021-04-05 17:44] dgkf commented on #3
### Use of Unicode?

Many languages permit a wider range of unicode characters. For example, idiomatic Julia has unicode aliases to set arithmetic (`∪`, `∈`), Greek characters for math, or accents used to denote derivations. In these cases, unicode is used to write code that resembles mathematical notation. As far as I know, there isn't a language that _requires_ non-Ascii characters (at least not

[2021-04-06 16:28] dgkf commented on #3
A quick follow-up, I reached out to the Julia community and asked about unicode best practices. They pointed me to this software, which has gone through FDA review (I think as a device?). It uses unicode characters extensively for code that maps more closely to the formulaic symbols:

https://tutorials.pumas.ai/html/introduction/simulating_populations.html

[2021-04-12 19:04] mstackhouse commented on #3
@dgkf I believe the ascii character restriction goes down to compliance requirements with the eCTD. Languages like SAS can currently include unicode characters as well (as is common in things like laboratory units), but it's common practice to scrub these characters out and reference by byte code if you're programming around those issues. The key here is that we're dealing with the [eCTD](fda.gov/

[2021-06-15 11:15] ari-knoph commented on #4
If you look at the latest [ADRG package v1.2](https://advance.phuse.global/display/WEL/Deliverables) as a starting point:

![image](https://user-images.githubusercontent.com/85683724/122031508-0faf4080-cdcf-11eb-9ace-cbd543de2f7c.png)

You could then:

1. Specify software name, version and platform + date of reference in the beginning of section 7 for all software used. If you are using a special

[2021-06-17 12:32] NNaikp commented on #4
I realise now that you of course could use [renv](https://rstudio.github.io/renv/) in 7.3. So something like this:

**7.3 - Publicly Available Packages**

The `renv.lock`, `renv/activate.R` and `.Rprofile` files have been included in the submission in order to re-create the environment datasets and TFL has been developed under.

The environment with the packages mentioned below can be restored usi

[2021-06-28 18:35] lengning opened #14 "Setting up R consortium ESG account"
[Account setup checklist](https://www.fda.gov/industry/create-esg-account/setting-webtrader-account-checklist)

Questions:
- will a [test submission](https://www.fda.gov/industry/create-esg-account/sending-webtrader-test-submission) be sufficient for the open pilot? (sample submission)
- any cost associated with the submission?

[2021-06-28 18:40] lengning commented on #10
Expectations from FDA Reviewer of this pilot:
- reconstruct and load submitted R package(s) (non open sourced packages that submitted via eCTD)
- load open sourced packages used in this submission
- reproduce analysis results
- share processes/steps that may be improved

[2021-06-30 16:57] elong0527 commented on #10
Below is my draft notes based on the discussion today.

# Set up RConsortium sponsor account with FDA
  - cost of filling from FDA
  - expected written response from FDA (some reference but in different purpose https://www.fda.gov/media/99313/download)
  -
# Create Folder Structure

# eCTD content
- [ ] cover letter

  + expectation from FDA reviewer
  + testing plan (a checklist)

- [ ] ADRG

  +

[2021-06-30 17:02] lengning opened #15 "Communication Plan"
# Our vision/goal
- Make full R submission easy today
  - by showing open examples of using current systems
- Make full R submission easy tomorrow
  - by influencing future decisions on system/process setup

# Rough plan
Incremental experiments
- phase 1: pkglite (txt), simple analysis
- phase 2: pkglite (txt), complicated analysis; analysis scripts as pkg
- phase x: using .r as file extension in

[2021-07-07 22:57] elong0527 opened #17 "Create a distill website with CI/CD workflow"
As we are using Rmd files to document everything, we may consider to transfer this repo to a distill website.

- All Rmd will be automatically rendered. No need to save html files.
- It can enable blog as well.
- CI/CD shall also be enabled.

reference: https://rstudio.github.io/distill/website.html

[2021-08-04 01:05] lengning opened #18 "Create letter to FDA for pilot1"
[example cover letter from Phuse](https://github.com/RConsortium/submissions-wg/blob/main/submission-package/m1/us/12-cov-let/cover.pdf)

Share purpose, scope, reviewer expectations

**reviewer exceptions based on previous discussions**

We expect the FDA reviewer to:
- reconstruct and load submitted R package(s) (non open sourced packages that submitted via eCTD)
- load open sourced packages used

[2021-08-04 01:18] lengning commented on #17
@brianwarner will share with us an R consortium template in several weeks. Will create a new repo under RC org including only curated information (more public friendly)

[2021-08-04 04:02] lengning opened #19 "Review and finalize shell of proposed TLFs"
Proposed TLFs
  - baseline: Table 14-2.01,
  - primary analysis: Table 14-3.01, Table 14-3.02
  - figure: Figure 14-1
  - do we need a listing?
[14-2.01.pdf](https://github.com/RConsortium/submissions-wg/files/6928509/14-2.01.pdf)
[14-3.01.pdf](https://github.com/RConsortium/submissions-wg/files/6928510/14-3.01.pdf)
[14-3.02.pdf](https://github.com/RConsortium/submissions-wg/files/6928511/14-3.02.

[2021-08-04 04:45] elong0527 commented on #19
All table and figure are in CDISC pilot [CSR](https://bitbucket.cdisc.org/projects/CED/repos/sdtm-adam-pilot-project/browse/updated-pilot-submission-package/900172/m5/53-clin-stud-rep/535-rep-effic-safety-stud/5351-stud-rep-contr/cdiscpilot01/cdiscpilot01.pdf)

[2021-08-04 09:28] SHAESEN2 commented on #19
Will we be using the CDISC replication effort of atorus? https://github.com/atorus-research/CDISC_pilot_replication/tree/master/outputs

[2021-08-04 17:43] lengning commented on #19
Hi @SHAESEN2 , @elong0527 and I were thinking that for different TLFs, we may use different packages to test common packages in pharma. So I guess we will definitely leverage on existing work in the CDISC replication work, but may write a bit more codes to cover other packages not used in the replication project

[2021-08-06 16:43] waddella opened #20 "change submission portal password"
please save the password into the password store, see #22

[2021-08-06 16:45] waddella opened #21 "finish the portal setting process"
as per mail instruction

[2021-08-06 16:54] rpodcast opened #22 "Secure storage of account credentials"
I have past experience with spinning up a self-hosted version of the [BitWarden](https://bitwarden.com/) open-source password manager for storing credentials securely (with robust encryption). We should use that to store the submission portal access credentials, along with any other accounts for services that arise in the future.

[2021-08-06 17:13] lengning opened #23 "Decide which packages to use for each TLF, define data sets needed"
Reuse data [here](https://github.com/RConsortium/submissions-wg/tree/main/submission-package/m5/datasets/cdiscpilot01/analysis/adam/datasets), copied from [CDISC pilot](https://bitbucket.cdisc.org/projects/CED/repos/sdtm-adam-pilot-project/browse/updated-pilot-submission-package/900172)

- [14-2.01.pdf](https://github.com/RConsortium/submissions-wg/files/6928509/14-2.01.pdf)
open source packages t

[2021-08-06 17:21] waddella opened #24 "Invite a representative from an e-submission team to the next meeting"

[2021-08-06 17:36] lengning commented on #23
@elong0527 tried to populate more details on which different packages to be used for each TLF. for the first two I think we already have previous codes in a good shape. should we target using r2rtf?

[2021-08-06 17:45] lengning opened #25 "14-2.01 TLF R code"
Following decisions from #23

Data set:

[2021-08-06 17:46] #14 closed

[2021-08-06 17:48] lengning opened #26 "14-3.01 TLF R code"
Following decisions from #23

Data set:

[2021-08-06 17:49] lengning opened #27 "14-3.02 TLF R code"
Following decisions from #23

Data set:

[2021-08-06 17:49] lengning opened #28 "Figure 14-1 TLF R code"
Following decisions from #23

Data set:

[2021-08-06 19:01] elimillera commented on #22
This is done. I use lastpass but its the same concept

[2021-08-06 19:01] #22 closed

[2021-08-06 19:02] elimillera commented on #20
@rpodcast Sorry I might have misunderstood. Did we have a BitWarden service specifically for r-submissions? The password has been created for the account otherwise.

[2021-08-06 19:02] #20 closed

[2021-08-06 19:03] elimillera commented on #21
Account setup is done. Waiting on FDA admin approval which should happen in the next three days

[2021-08-06 22:06] lengning opened #29 "Pass P21 check for all identified datasets"
You can find the data here: https://github.com/RConsortium/submissions-pilot1/tree/main/adam

[2021-08-06 22:20] lengning commented on #23
Hi @elimillera @mstackhouse: @elong0527 and I are thinking of splitting the work among Roche, Merck and Atorus. is it ok to assign 14-3.01 to Atorus? (I think you already have all the codes - maybe just a matter of cleaning up?). Can I assign one of you to issue #27? thank you!

[2021-08-07 01:07] elong0527 commented on #27
I plan to deliver a table in the format as below.

https://merck.github.io/r2rtf/articles/example-efficacy.html

[2021-08-07 01:11] elong0527 opened #30 "Analysis scripts folder structure"
Could we align the analysis script folder structure?

So we can properly organize code for #25 #26 #27 and #28

I am a fan of using R package following concept in [this paper](https://ro.uow.edu.au/cgi/viewcontent.cgi?article=6445&context=smhpapers) yet open to other options.

Following the concept paper, we recently discussed the details to organize analysis script in this [Phuse paper](https://w

[2021-08-07 01:18] elong0527 commented on #29
Here is a summary information for dataset based on our initial understanding.

We shall get confirmation if Is the SDTM, ADaM and Medra version acceptable to FDA?

SDTM: SDTM-3.1.2
ADaM: ADaM-1.0
Medra: 8.0

Potential P21 engine: P21 2010.1

[2021-08-07 02:56] mstackhouse commented on #23
@lengning sure we'd be happy to do so. And yes we do have the code.

That said - if we're going to split this up between groups then we need to make sure that build using a consistent environment. We should have a consistent R version and set of packages used for all outputs, and that information should be delivered with the submission package.

Typically, this information is indicated in the SAP.

[2021-08-08 20:31] elong0527 commented on #30
Here is an example folder structure with a simple analysis code in `vignettes`

https://github.com/elong0527/esubdemo

- `inst/startup.R` define a start up file for this analysis project.
- (optional) `renv` is used to lock R version and R package version.

[2021-08-08 20:36] elong0527 commented on #23
@mstackhouse , this is an important point.

I would suggest to use a snapshot date on MRAN (e.g. `2021-08-06`). Then all R version is defined.

Those information shall be defined in a project specific startup file. [example](https://github.com/elong0527/esubdemo/blob/384eb636e2ca9df5d09d6cbed3a0aedca6e03386/inst/startup.R#L7).

All R package and R package version used in the analysis shall be prop

[2021-08-18 14:33] pkwu55 commented on #29
![p21_99](https://user-images.githubusercontent.com/68229647/129917067-78f31657-e6f8-44a0-85fb-535ae1aba2e1.JPG)
![p21_99_sdtm](https://user-images.githubusercontent.com/68229647/129917069-69d8c527-a64c-487f-9a59-fd2773efe712.JPG)

I ran P21 checks on both ADaM and SDTM, we have one reject in ADaM's define and one in SDTM.TS.

[2021-08-19 17:34] elong0527 opened #31 "Double check SAP for language usage"
We need to confirm if the SAP need to be updated if there are any programming language.

[2021-08-19 17:39] mstackhouse commented on #29
We should review see if this cut of data and Define.xml is ok:
https://github.com/phuse-org/TestDataFactory/tree/main/Updated/TDF_ADaM

[2021-08-19 17:41] #23 closed

[2021-08-19 17:48] elong0527 commented on #31
It shall be part of CSR https://bitbucket.cdisc.org/projects/CED/repos/sdtm-adam-pilot-project/browse/updated-pilot-submission-package/900172/m5/53-clin-stud-rep/535-rep-effic-safety-stud/5351-stud-rep-contr/cdiscpilot01

I wish we would not need to modify this document yet pending your evaluation  :)

[2021-08-19 17:48] #30 closed

[2021-08-19 17:51] #19 closed

[2021-08-19 17:56] lengning opened #32 "Setup development repo, align on development practices"
development repo: https://github.com/RConsortium/submissions-pilot1
@elong0527 @wangh107 @pkwu55 @mstackhouse @elimillera

will follow similar structure as https://github.com/elong0527/esubdemo

(utils under R/, analytical scripts under vignette/)

coding style: tidyverse

naming: similar to https://github.com/atorus-research/CDISC_pilot_replication/tree/master/programs

[2021-08-21 17:59] elong0527 commented on #32
Could you initiate a PR from `esubdemo` to `submission-pilot1` or simply move the whole folder to `submission-pilot1`?

I could not do it (probably because I did not have write permission)

[2021-08-23 16:26] lengning commented on #32
done - also granted writing permission to everyone mentioned in this issue

[2021-09-02 15:19] pkwu55 commented on #29
![image](https://user-images.githubusercontent.com/68229647/131870302-ea089491-018f-4d1b-8cef-ff47bb19e02e.png)

![image](https://user-images.githubusercontent.com/68229647/131870396-e8a184d1-930c-4185-b3a5-a0e2c5e2834f.png)

Results from TDF's cleaned-up version ADaM and SDTM, we might have to update the two define.xml for the "Invalid Standard Name" field.

[2021-09-02 17:44] elong0527 commented on #31
- add another pdf file to assemble all output
- may add an readme.txt file to clarify the pdf files in the folder
- in the letter to FDA, clarify which one shall be reviewed.
- in the ADRG, further clarify the intention of the files.

[2021-09-02 17:44] #31 closed

[2021-09-02 17:47] elong0527 opened #33 "Draft ADRG for pilot1 submission"
- working on google docs (Ning set it up)
 - based on Phuse ADRG template (Ning copy)
 - apply existing ADRG to the project  https://bitbucket.cdisc.org/projects/CED/repos/sdtm-adam-pilot-project/browse/updated-pilot-submission-package/900172/m5/datasets/cdiscpilot01/analysis/adam/datasets/dataguide.pdf (Ning)

- Update the ADRG based on R related work.

[2021-09-02 17:51] elong0527 commented on #18
* End of Sep: complete draft of required documents
* Mid of Oct: prepare submission to FDA.

[2021-09-02 18:24] #32 closed

[2021-09-03 16:31] lengning opened #34 "re-active eCTD account"
write a letter to help desk

around mid-late oct

[2021-09-03 16:31] #21 closed

[2021-09-03 16:44] waddella opened #35 "Create an ectd submission package GitHub repository"
Please choose a name and add a reference in to the repo in this issue

[2021-09-03 16:46] waddella commented on #18
please add a placeholder file to repo from #35  and paste the url into this discussion

[2021-09-03 16:49] waddella opened #36 "Identify FDA staff"
Most likely a statistical programmer is sufficient to review the submission.

Please add a Criteria for Success.

[2021-09-03 16:52] rpodcast commented on #17
While we wait for the aforementioned R Consortium template, I'd like to get initial alignment on what information we'd like to present on the site. Here are initial thoughts from my side;
* Overview of the working group's goals
* How the group is structured (emphasizing that this is a collaborative effort across different pharma sponsors and regulators)
* Descriptions of the submission mock data s

[2021-09-03 17:09] waddella opened #37 "Add the criteria of success to the submission package"

[2021-09-03 17:12] waddella opened #38 "Proposal for the Software Programs section 4.1.2.10"

[2021-09-03 17:31] lengning commented on #38
duplicate of #3 ?

[2021-09-03 17:53] dgkf commented on #38
### Recap of discussion on 2021/09/03

From the discussion today, it sounds like the goal is that code in the file is not automatically executed upon opening (specifically within the context of Windows as it's configured on the Reviewer's machine).

This gets a little tricky, since extensions are nothing more than cues to the operating system to deal with them in some specific way, and that behavi

[2021-09-03 18:15] lengning commented on #3
additional discussions in #38

[2021-09-03 18:15] #3 closed

[2021-09-03 18:15] lengning opened #39 "naming the R package and the pilot 1 submission package"
& reflect in webpage etc

[2021-09-03 18:31] lengning commented on #17
@rpodcast sounds good to me! (feel free to make any edits, the current site was just my first attempt of `distill`)

@brianwarner just want to follow up on the r consortium template - i recall you mentioned it would be nice to follow the r consortium website template? just want to see whether the template is already available. thanks!

[2021-09-03 21:16] lengning commented on #35
repo created here
https://github.com/RConsortium/submissions-pilot1-to-fda
(let me know if anyone prefers another name)

[2021-09-08 23:27] lengning commented on #18
working google doc: https://docs.google.com/document/d/1IhpWT_YklPbx-Un2oVYmdEbSX_avHH1LvMFP_30en0c/edit?usp=sharing

which contains both cover letter and adrg (#33 )

[2021-09-08 23:28] lengning commented on #37
will add into cover letter (#18)

[2021-09-08 23:33] lengning commented on #33
working google doc: https://docs.google.com/document/d/1IhpWT_YklPbx-Un2oVYmdEbSX_avHH1LvMFP_30en0c/edit?usp=sharing

which contains both cover letter and adrg

[2021-09-13 03:16] pkwu55 commented on #27
It seems I don't have permission to create new branch to the repository?

[2021-09-13 17:12] lengning commented on #27
@pkwu55 would you mind trying again https://github.com/RConsortium/submissions-pilot1
seems you should have write access now?

[2021-09-13 17:33] pkwu55 commented on #27
Thanks @lengning , however I still don't have write access to this repo. I'll wait a bit, and if it's still not working maybe I can create a fork instead?

[2021-09-13 19:54] lengning commented on #27
![Screen Shot 2021-09-13 at 12 54 10 PM](https://user-images.githubusercontent.com/11322800/133147880-4b4c84c3-d272-49f4-a3a8-8b7778bcf9d3.jpg)
I see "awaiting response" status - not sure whether that is why?

[2021-09-13 20:02] pkwu55 commented on #27
That's probably it, I found the invitation email in my mailbox and I clearly overlooked it, and the link had expired. Would you mind send out another invitation? Thanks!

[2021-09-16 17:17] #35 closed

[2021-09-16 17:21] lengning commented on #39
pilot1wrappers

[2021-09-21 21:44] vmarenny commented on #38
ASCII should probably be supplanted with **ASCII or UTF-8**.
Most modern languages, R and Python3 included, default to UTF8 when saving files.

As for `.tar` as a collection of files, opens up a nice opportunity for containers (docker), as they can be saved and loaded as tarballs.

[2021-09-22 04:52] kaz-gene-com commented on #38
Note that they explicitly call out `define.pdf` in which every example I've ever seen is UTF-8.  Another place in the same document it notes:

_emphasis mine_

Thus I think the idea is that _avoid_ using UTF-8 and do NOT use in variable names/LBSTREC/LBTEST codelists.

A few other points about "binaries". The FDA uses binary format in many accepted files, the major one being PDFs (which often incl

[2021-09-22 18:28] lengning opened #40 "create data dependency graph"

[2021-09-22 18:44] #39 closed

[2021-09-30 17:03] #40 closed

[2021-09-30 17:16] lengning opened #41 "assemble all TLGs into one report"
w/ table numbers etc

[2021-09-30 17:30] elong0527 opened #42 "Moving code to submission repository"

[2021-09-30 17:30] elong0527 opened #43 "Finalize analysis repository"

[2021-09-30 17:31] lengning commented on #42
https://github.com/RConsortium/submissions-pilot1-to-fda

[2021-09-30 20:10] #29 closed

[2021-09-30 20:10] #28 closed

[2021-09-30 20:11] #27 closed

[2021-09-30 20:11] #25 closed

[2021-09-30 20:11] #18 closed

[2021-09-30 20:11] #33 closed

[2021-09-30 20:11] #37 closed

[2021-09-30 20:13] lengning commented on #17
Hi @rpodcast , we will be presenting the R submission pilot at the R/pharma conference. Maybe we can target at tidying up the website before the meeting? thanks!

[2021-10-01 16:31] lengning opened #44 "Change all languages from "FDA reviewers" -> "FDA staff""
to ensure a broader FDA group will be engaged

[2021-10-01 16:31] lengning opened #45 "Review submission pilots missions etc"

[2021-10-01 16:57] dgkf commented on #38
Thanks @vmarenny & @kaz-gene-com

The `.tar` option and the discussion about compressed pdf contents might open up a door for us to consider a `.tar.gz`, which is a standard format for distributing R packages.

Whether these are permitted as source code for a submission is one question (as they can be decompressed and extracted as plain-text files), and whether these files would be permissible in

[2021-10-01 17:01] lengning commented on #24
Merck - Yilong to reach out

Roche- Heng to reach out

GSK - Ben to reach out

[2021-10-09 23:55] mstackhouse commented on #26
This is written and pending merge in #8

[2021-10-11 03:59] elong0527 commented on #4
The file is prepared in

https://docs.google.com/document/d/1IhpWT_YklPbx-Un2oVYmdEbSX_avHH1LvMFP_30en0c/edit#

[2021-10-11 04:10] #43 closed, assigned to elong0527

[2021-10-11 04:12] elong0527 commented on #2
TLF have been created in https://github.com/RConsortium/submissions-pilot1

[2021-10-11 04:12] #2 closed

[2021-10-11 04:13] #15 closed

[2021-10-11 18:29] lengning opened #46 "Obtain sample submission ID, update cover letter"
example: CDISC Pilot Project, Updated SDTM/ADaM Sample Submission, Sample Number 900172

[2021-10-11 21:05] #41 closed, assigned to lengning

[2021-10-11 21:33] lengning opened #47 "[ALL] Review Submission Package of Pilot 1"
Submission package: https://github.com/RConsortium/submissions-pilot1-to-fda

Technical review group: reproduce outputs @dgkf @waddella @bms63

esub expert review by: Roche (@wangh107 to coordinate), Merck (@elong0527 to coordinate), GSK (@bms63 to coordinate)

Everyone else -

provide feedback on
- The submission package in general
- [cover letter](https://github.com/RConsortium/submissions-pilot

[2021-10-28 16:46] #46 closed, assigned to nobody

[2021-11-01 04:45] lengning commented on #17
Thanks @rpodcast! I added the pilot information. feel free to make any additional edits

[2021-11-05 16:35] #17 closed

[2021-11-05 16:48] lengning opened #49 "decide using .txt or .r for the 4 scripts"
Please share your thoughts on pros can cons

submitting in .r

pros:

- set good example (clarify on the misunderstanding of .txt requirement)

cons:

- higher risk of getting rejected

[2021-11-05 16:50] waddella opened #50 "Submit Package 1"
- [x] Meeting to be booked by Ning on 9am Pacific Time

# Agenda

Submit prepared package.

# Dependency

Ready to submit package.

# Note

* Consider recording this activity
* also invite Beverly Chin, Tim Powell, Paul Schuette

[2021-11-05 16:51] waddella opened #51 "Address Comments from Submission Package review"
comments from #47

- [ ] example comment
- [ ] other example

[2021-11-05 16:53] waddella opened #52 "Final Review"
Last Review round before submission

[2021-11-05 17:05] lengning commented on #52
additional reviewer (suggested by Bob : Nate Mockler (nate.mockler@biogen.com))

[2021-11-05 17:09] lengning commented on #47
comments sent by email: https://drive.google.com/drive/u/0/folders/1scgIrjPgl2aEAvRF54h9K3cX9JCVdCag

[2021-11-11 14:58] Nate884 commented on #52
So Ning asked me to look at the package, and throw in some comments. Feel free to take whatever you want from this, or ignore it:

**Reviewers Guide**

- There doesn't seem to be any information in the guide about the proprietary package. I know there's the roxygen comments, but I figured the reviewers would need a reference and listing of how the team validated it. (See stuff with like tplyr). Si

[2021-11-11 16:04] Nate884 commented on #52
**Following the Reviewer's Guide Guide to Installation**

- Right now you are asking them to install base R only. Is that ok, or did you want to push them to install Rstudio as well?
- Step 4 has an extra closing param:

[code]
- You also need to have the user install pkglite in the previous step.

[code]

- The guide says "r0pkgs.txt", but the file is "r0pkg.txt"

[code]

- You need to have the u

[2021-11-11 18:39] lengning commented on #51
Thank you all for the comments. Please see below a summarization on comments being addressed and not addressed

Comments addressed
- submit .r for the 4 programs, instead of .txt
- good practice: KM good practice, etc
- language improvement in ADRG, cover letter, etc
- typos in ADRG appendix

Comments that won't be addressed
- inconsistencies between tables : this is intended to test out different

[2021-11-11 18:48] lengning commented on #49
decided to use .r for the 4 programs

[2021-11-11 18:48] #49 closed

[2021-11-11 18:51] lengning commented on #47
Responses to comments are available at #51

[2021-11-11 18:51] #47 closed

[2021-11-11 18:51] #34 closed

[2021-11-14 18:12] elong0527 commented on #52
Thanks Nate for the comments. Please find my response below.

We did not perform any validation for the proprietary package at current stage. The current focus is to submit analysis code to FDA. It might depends on the organization, I would not expect validation report is a mandatory component for eCTD package.

We did not plan to achieve consistency of table/figure format in this pilot by recogni

[2021-11-14 18:27] elong0527 commented on #52
Thanks Nate. Please find my response below.

RStudio IDE is an optional item. So we did not ask reviewer to install it.

Updated in ADRG.

Agree, we have added `pkglite` in ADRG.

We have fixed this in the ADRG.

In step 1 of the ADRG, we clarified working directory. " All steps below should be executed in this working directory represented as "." in the example R code below."

If this is unclear,

[2021-11-14 18:45] elong0527 commented on #51
The two github repo has been updated to reflect comments w.r.t define.xml and analysis program.

- https://github.com/RConsortium/submissions-pilot1
- https://github.com/RConsortium/submissions-pilot1-to-fda

ADRG is updated to address comments to rerun the code

- https://docs.google.com/document/d/1UAZMY0iMfJiwlQVCM5mJvVgXDR7c5YRBUEj1kSxxK70/edit
- Note: the steps is only for code saved in https

[2021-11-23 19:18] #51 closed

[2021-11-23 19:18] #36 closed

[2021-12-03 15:29] #52 closed

[2021-12-03 15:35] lengning commented on #50
Received by FDA on Nov 29

[2021-12-03 15:35] #50 closed

[2021-12-03 19:05] lengning opened #55 "Standalone information sharing meetings to share each pharma company's internal R strategy/progress on filing"
We will start one or a series of small group meetings to share each pharma company's internal R strategy/progress on regulatory submission. The first meeting will be hosted in Jan.

Current participants:
Roche (Ning)
J&J (Heidi)
Merck (Yilong)

If you are interested in attending, please reply or contact me. Thank you!

[2021-12-03 19:23] NNaikp commented on #55
I would also like to join!
Novo Nordisk (Ari)

[2022-01-03 07:08] NNaikp commented on #55
@lengning If you need any help with setting this up, then please let me know. Would be happy to help :)

[2022-01-07 17:33] rpodcast opened #56 "Explore container technology for a future phase"
One possible avenue for a future pilot is to explore the use of container technology in the submission process. Due to licensing issues among others, the FDA has difficult with using the latest version of Docker in their computing environments. Other promising technology includes [podman](https://podman.io/) which have gotten praise in the general software development and system administration com

[2022-01-07 17:56] rpodcast opened #57 "Shiny app as a package for second submission"
After our recent meeting (2022-01-07), the group expressed interest in creating a Shiny application bundled as an R package to test out a new submission, based upon the data and results of the first submission. Initial tasks / requests as we begin to scope out the details:
* [ ] Create a new repository for the second submission pilot
* [ ] Anyone who wishes to participate in this second pilot, ple

[2022-01-07 17:58] rpodcast commented on #55
I'd be glad to join this discussion!

[2022-01-07 18:33] NNaikp commented on #57
I would very much like to participate 😃

Are there any discussions on re-using the first submission to also get other agencies than FDA on-board? Maybe including a first submission to PMDA as a parallel track? Or reaching out to EMA who have expressed that they would require data submissions in the near future?

[2022-01-07 20:11] lengning commented on #57
just created the pilot2 dev repo: https://github.com/RConsortium/submissions-pilot2

[2022-01-07 20:19] lengning opened #58 "Decide pilot 2 scope and timeline"
pilot 2 proposal
- submit a simple shiny app as a r pkg (wrap up by pkglite, submit through ectd portal)
- use data sets from pilot 1, turn the 4 static tlgs into a simple shiny app
- potentially build the shiny app using `teal`. `teal` will be open sourced by the end of Q1

pilot 2 proposed timeline
- Jan: turn static tlgs into shiny
- Feb: create ADRG and other documents, internal review within

[2022-01-07 21:10] lengning commented on #55
Hi @NNaikp , would you mind sharing with me your email address? thank you

[2022-01-07 21:24] NNaikp commented on #55
@lengning it's aikp@novonordisk.com

[2022-01-10 20:13] sclewis23 commented on #38
So is it acceptable to use R Source files like .tar.gz in submissions?
Or do they have to be ASCII files?

[2022-01-13 19:11] lengning opened #59 "Pilot 1 wrap up and resubmission"
- In response to FDA review summary
- @elong0527 to review final PRs
- @elong0527 @pkwu55 to update ADRG (google drive: https://drive.google.com/drive/u/1/folders/1g_7onRSO__Voalx7xjJWFgDXO7DVw8H_)
- Ning to update report, and to write a response letter
- Notify Bev and Joe for the resubmission

[2022-01-13 19:12] lengning opened #60 "final communication of pilot 1"
After resubmission, write a final communication, include FDA review report and team response

[2022-01-19 00:29] lengning opened #61 "[volunteers needed] Review/reproduce updated pilot 1 submission package"
Looking for volunteers to review updated pilot 1 submission package. This is in response to the FDA [summary letter](https://github.com/RConsortium/submissions-wg/blob/main/Documents/Summary_R_Pilot_Submission.pdf)

Review by Jan 24 (Mon) is preferred

Todo
- Review [Response Letter to FDA](https://github.com/RConsortium/submissions-pilot1-to-fda/blob/main/m1/us/response-to-fda-1.pdf)
- Rerun R co

[2022-01-19 01:07] #59 closed

[2022-01-19 01:21] elong0527 commented on #61
After all review completed, we need to update the report-tlf (because of time stamp change)

https://github.com/RConsortium/submissions-pilot1-to-fda/blob/main/m1/us/report-tlf.pdf

Also suggest to remove the "Version Jan 18th 2022" as it may mismatch with the table time stamp.

[2022-01-19 01:24] elong0527 commented on #61
In Response letter to FDA, I would suggest to state below for rounding issue.

We agree that the slight differences are likely to happen when different operating system is used.

[2022-01-19 14:10] SHAESEN2 commented on #61
Hey @lengning I would like to help to address the comments.

[2022-01-20 03:11] sclewis23 commented on #61
Hey @lengning ,
I was able to rerun the outputs and confirm the same results as in the report-tlf.pdf
I used a window machine and didn't see any rounding differences.
Do we have any other information to compare sessionInfo or system environment to ensure it is a rounding error?

But I did get one warning and three errors not able to find pdf files:
Warning message:
In as.POSIXlt.POSIXct(x, tz) : u

[2022-01-20 04:34] elong0527 commented on #61
Thanks @sclewis23 for rerunning the analysis. I have removed the `pdf` related part in the submission package.

Just to confirm, the rerun use the submission code and follow ADRG folder.

https://github.com/RConsortium/submissions-pilot1-to-fda/blob/main/m5/datasets/rconsortiumpilot1/analysis/adam/datasets/adrg.pdf

https://github.com/RConsortium/submissions-pilot1-to-fda/tree/main/m5/datasets/rco

[2022-01-21 00:29] NNaikp commented on #61
Hi @lengning & @elong0527!

I was able to re-produce the results based on the steps in the ADRG 👍
A few things I was thinking while I was following the steps:

- setwd() is mentioned but not given as code. I did write setwd() when following that step.
- I had an active .Rprofile while going through the installation of r0pkg which gave some odd messages. Might be alright.
- The path example given d

[2022-01-22 02:29] elong0527 commented on #61
Thanks @NNaikp for the detail review. I have re-direct them to separate issues or PRs to address them.

Could you specify the location that we mention `setwd()`?

Please share the message in a separate issue.

Agree. Will update in ADRG and submission program. Refer https://github.com/RConsortium/submissions-pilot1-to-fda/issues/7

Refer https://github.com/RConsortium/submissions-pilot1/pull/19#is

[2022-01-25 20:46] NNaikp commented on #61
Hi @elong0527.
For the comment about working directory I'm referring to this section in the ADRG:

![image](https://user-images.githubusercontent.com/85683724/151056153-89ca6e97-682a-4681-a400-afa64910ba12.png)

In my mind it would make sense to get the reviewer to use `setwd("C:/tempwork")` here. What do you think?
I will see if I can re-create the installation notes of r0pkg and create a new iss

[2022-01-25 22:01] elong0527 commented on #61
Thanks @NNaikp for the clarification.

I assume the reviewer has basic R knowledge and know how to set up working directory (or simply google it).

I assume most user can install the binary package from Windows. For this first pilot, we did not touch `Rtools` part. For future pilot, we may need it clarify it.

[2022-01-28 23:08] lengning opened #62 "Potential CDE submission pilot"
Roche Shanghai colleague mentioned that CDE (china FDA) is initiating their own eCTD portal and recently a software for submission format validation was shared to sponsors for testing.

R consortium may consider reused the pilot 1 package and test it using the CDE esub package validation software

Given what we provided in the pilot1, sounds like converting it to a CDE esub package would be very d

[2022-02-04 17:30] #55 closed

[2022-02-04 17:42] rpodcast opened #63 "Documentation for Shiny app submission"
A critical part of the pilot 2 submission is the documentation that covers how a reviewer can successfully install the app package and run it locally on their R installation. I have tried this once before with the Complex Innovative Designs (CID) initiative in partnership with FDA. Below is an excerpt from the repository I created for the particular project which we can adapt to our needs. (Note t

[2022-02-04 17:50] elong0527 opened #64 "Collaborate with PHUSE to update ADRG tempalte"
If we could build connection with PHUSE for the potential of update ADRG template to make it

- language agnostic
- add instruction of using R as in our pilot 1

Current PHUSE ADRG template: https://phuse.global/Deliverables/1
name: [ADRG Packages V1.2.zip](https://phuse.s3.eu-central-1.amazonaws.com/Deliverables/Optimizing+the+Use+of+Data+Standards/ADRG+Packages+V1.2.zip)

[2022-02-04 17:52] elong0527 opened #65 "Identify point of contact for other region of a potential R submission using pilot1 project"
It would be great if we could identify point of contact from other region to prepare a potential R submission using `pilot1` work. For example:

- China
- EU
- Japan
- etc.

[2022-02-04 17:53] michaelmayer2 commented on #63
Happy to work on this with you. I think there already is really good content. Still new to the WG but not new to the submission business.

[2022-02-04 22:13] lengning commented on #61
Hi all, Hye Soo shared her code in [this issue](https://github.com/RConsortium/submissions-pilot1-to-fda/issues/10)

It would be appreciated if you can try running it on your operating system, to investigate the rounding difference a bit further

[2022-02-04 23:06] NNaikp commented on #64
When I go through the WGs in PHUSE there doesn't seem to be one that is currently working with the ADRG (except for integrated analysis data).
We could apply for a new project as shown here: https://advance.phuse.global/display/WEL/Useful+Information

Excerpt:
![image](https://user-images.githubusercontent.com/85683724/152614372-81fbd809-655a-4cb0-b4f6-96ed8d2a0940.png)

[2022-02-04 23:45] NNaikp commented on #63
I would also be happy to help if needed 😃
@rpodcast do you think there will be much technical information needed in addition to what is already added in the ADRG from pilot 1?

Since the app will be in a package my initial thought was to ask the reviewer to unpack using pkglite. Load the package and run a function that has runApp() wrapped.

After that it would be the data upload and app navigatio

[2022-02-05 00:07] NNaikp commented on #65
EMA recently published a [data standardisation strategy](https://www.ema.europa.eu/en/documents/other/european-medicines-regulatory-network-data-standardisation-strategy_en.pdf). They are not currently requiring the submission of data in new drug applications but according to this they are investigating and piloting receiving data created in accordance with CDISC.

I will reach out to one of my co

[2022-02-05 00:36] jwildfire commented on #63
@rpodcast I'm happy to help as well. Package-based approach makes sense to me. Seems like installation and usage should be very straight-forward if we just put the study data in the `\data` folder and then reference it directly in the app.

[2022-02-05 01:25] sclewis23 commented on #57
Hi Team - I attended the working group meeting today (I was driving so wasn't able to respond on the call), it was my first time attending.  Great to hear all the exciting plans this working group is coming up with.
My is question about the second submission (pilot 2), why would we want to wait for the approval(release) of the teal R package, which could be 3 months (for legal approval)?
Seems lik

[2022-02-05 01:43] sclewis23 opened #66 "Additional task/item/goal of the working group - to provide a white paper on how to use a R product in a submission?"
Hi Team,
I wanted to see if we could add a task/item/goal to prepare a white paper on how to use a R product in a submission to the FDA (other agencies)?
I'm new to the working group but thought providing a white paper for others in the industry on how to use a R product in a submission, could be a great outcome from this working group.

Or is the ultimate goal to have the FDA (other agencies) pro

[2022-02-05 02:41] elong0527 commented on #66
I hope Chapter 12-14 of the r4csr book  https://r4csr.org/submission-overview.html covers some relevant information.

There are many ways to handle the submission work. We just provided one possible solution.

[2022-02-08 11:22] NNaikp commented on #65
For PMDA it is the Office of Advanced Evaluation with Electronic Data that handles everything in regards to eData packages.
Under contacts they only have a phone number but on [this page](https://www.pmda.go.jp/english/review-services/reviews/0002.html) with information on all of the guidelines and forms there is an email address:  jisedaiPT●pmda.go.jp. This is also the email address mentioned in

[2022-02-11 21:22] lengning commented on #61
v0.1.1 finalized: https://github.com/RConsortium/submissions-pilot1-to-fda/releases/tag/v0.1.1

Thanks everyone!

[2022-02-11 21:22] #61 closed

[2022-02-11 21:23] lengning commented on #64
@mstackhouse and @elong0527 reached out to PHUSE

[2022-02-11 21:26] lengning commented on #65
thanks @NNaikp ! sounds like a PDMA pilot submission is pretty tangible? do you think we can start a subteam looking into it (I'm happy to reach out to our Chugai (Roche) colleagues as well)?

[2022-02-12 06:46] NNaikp commented on #65
Yes, I definitely think we can start a sub-team working on this 👍

It would be nice to discuss this with an RA person with insights into submissions to PMDA. Please reach out to your colleagues - I will also reach out to my RA colleagues in Japan.

As I see it we would pretty much be able to submit the same package as we did for FDA. The only addition would be the creation of an Attachment 8 (form

[2022-02-24 12:48] NNaikp commented on #65
Hi @lengning

I had a meeting with our RA colleagues and here are some points if we would like to submit the pilot to PMDA:

Access to portal site (submission gateway):
- To access the portal site you must retrieve a certificate from the Medical Information System Development Center. However this certificate is **only allowed to be issued to residents of Japan.**

Documents:
- The documents to acc

[2022-02-24 18:29] lengning opened #67 "set up CICD for pilot 2"
https://github.com/RConsortium/submissions-pilot2

[2022-02-24 18:30] lengning opened #68 "update primary table and efficacy table layout"
@hoppanda @elimillera

[2022-02-24 18:33] lengning opened #69 "convert to teal app"
after #68

@wangh107 to convert the code to teal app, and publish at https://genentech.shinyapps.io/ for team to review

[2022-02-26 00:52] lengning opened #70 "contact PMDA and seek their support on an open R pilot"
#65

Initiation of discussion with Office for Advanced Evaluation with Electronic Data ([jisedaiPT@pmda.go.jp](mailto:jisedaiPT@pmda.go.jp))

- [ ] draft email
- [ ] @joseph-rickert to send out on behalf of R consortium

[2022-03-04 17:38] lengning opened #72 "initiate sub-working-group for pilot1-to-PMDA discussion"
Following #65

Hong Yan will help setting up sub working group meetings

[2022-03-04 17:42] lengning opened #73 "conference presentions"
- [x]  rstudio conference
- [x] sdss
- [x] useR
- [x] FDA workshop poster
- [ ] phuse
- [ ] pharmaSUG
- [x] DIA
- [x] Rpharma
- [ ] PSI

please reply if there are other conferences we want to target

Confirmed talks:

- [DIA/FDA Biostatistics Industry and Regulator Forum](https://www.diaglobal.org/Tools/Content.aspx?type=eopdf&file=%2fproductfiles%2f9891829%2f22008-program%2Epdf) : : DIA Data Scie

[2022-03-04 17:47] rpodcast opened #74 "Add contact page to web site"
I've done this quite a bit with sites produced with blogdown & Hugo ([r-podcast.org/contact](https://r-podcast.org/contact) and [shinydevseries.com/contact](https://shinydevseries.com/contact) ) , but I'll see what the best approach is for a Distill-based site.

[2022-03-06 22:02] hongyanregngithub commented on #65
PMDA accepts R codes. In addition to the data submitted to the FDA, output files and files on simulation should also be submitted to PMDA. Please refer to section 4.2.3 of Technical Conformance Guide on Electronic Study Data Submissions (dated Jan 24, 2019) described
Other relevant notices are listed below. You can refer to them from the link, but please let me know if you cannot access it.
関連通知・様

[2022-03-07 08:16] SHAESEN2 commented on #72
Hey @lengning can you please invite me? I will extend the invite to our Japanese colleague as well who recently joined our internal initiative.

[2022-03-08 20:15] NNaikp commented on #73
Do we not want to target conferences like PHUSE and PharmaSUG as well?

[2022-03-08 20:16] NNaikp commented on #72
I'm in as well 🚀

[2022-03-09 00:20] elong0527 commented on #73
FDA workshop is calling for poster https://ww2.amstat.org/meetings/biop/2022/submitanabstract.cfm

[2022-03-09 02:15] lengning commented on #73
thanks both! it seems we may missed the deadline for pharmasug and phuse US connect?

btw i am happy to do the abstract submissions. if we got selected in multiple conferences i hope we can divide the conquer in presenting :)

[2022-03-09 07:58] NNaikp commented on #73
Well, @mstackhouse is the stream chair for the open-source stream at PHUSE US Connect - maybe he can tell us whether the stream is full? 😄

[2022-03-09 13:55] mstackhouse commented on #73
@lengning  and @NNaikp  PHUSE call for papers is closed for 2022 unfortunately. Pharmasug closed in January.

[PHUSE EU Call for papers](https://www.phuse-events.org/attend/frontend/reg/tAbsSubmitterLogin.csp?pageID=8009&eventID=16) is open if we want to shoot for Europe.

[2022-03-10 18:37] lengning commented on #72
thanks all! also tagging @hongyanregngithub
Could anyone of you initiate a series of meetings that is in a timeslot that is friendly to japan colleagues? Please feel free to ignore my schedule as i assume i am the only one in PST, and probably impossible to find a time that is friendly to EU, japan and US west coast..
I will also share the invite to Roche Japan colleagues

[2022-03-11 22:48] lengning opened #76 "Q&A page"
Hi all, I started a Q&A page based on some questions we received recently in Roche. contribution/review are welcome!

[Q&A page](https://rconsortium.github.io/submissions-wg/qna.html)

To contribute: [webpage dev guide](https://github.com/RConsortium/submissions-wg/blob/main/dev_site_notes.md); [qna.rmd](https://github.com/RConsortium/submissions-wg/blob/main/docs/qna.Rmd)

[2022-03-15 10:47] NNaikp opened #77 "Reference to package repositories"
In the first pilot submission we referenced an MRAN repo together with packaging packages into .txt files through pkglite.
I'm unsure whether this would be the same approach when you would you are actually submitting as a company.

We've been discussing internally whether we should make the IP for our package management system outward facing, such that we could point directly to that in the ADRG (

[2022-03-17 10:05] SHAESEN2 commented on #72
Hey @lengning @hongyanregngithub Can you share the contacts of the people that need to get an invitation. We have engaged our colleague @rnishim7 from Japan.

[2022-04-26 22:41] #60 closed

[2022-05-04 21:45] lengning opened #78 "Initiate a subteam working on R pilots to HTA"
@hoppanda is initiating a sub team looking into R pilots to HTA

If you are interested in joining the subteam, please reply this issue

Please also help spread the word in your organization

[2022-05-06 19:24] lengning opened #80 "Pilot 2 shiny app: call for review"
Please review

1. the cover letter: [R consortium R submission pilot 2 - cover letter.pdf](https://github.com/RConsortium/submissions-wg/files/8643167/R.consortium.R.submission.pilot.2.-.cover.letter.pdf), [google doc version](https://docs.google.com/document/d/14NqSw2syOK7sh6pm0tJ7N1zdAlpTcWHRUubz2T3V9Us/edit)

2. the deployed [shiny app](https://genentech.shinyapps.io/FDA-app/)

Please feel free

[2022-05-07 22:21] nanxstats commented on #80
Thanks Ning. I added a few minor suggestions, attached here.
[R.consortium.R.submission.pilot.2.-.cover.letter.pdf](https://github.com/RConsortium/submissions-wg/files/8646029/R.consortium.R.submission.pilot.2.-.cover.letter.pdf)

[2022-05-09 04:56] SHAESEN2 commented on #80
Thank you for sharing. Nice work done by the team. I had a few comments.

**General**
- Should we think about a way for the FDA to (re)view the code behind the tables ? Personally, I think shinymeta works well for this.
- Titles for the tables and explanatory footnotes might be helpful in interpretation of the tables. The description on the first page is not sufficient and difficult to remember (e

[2022-05-11 19:37] NNaikp commented on #73
I can send something for the PHUSE EU Connect. But how does it usually work?
Is it an update from the WG or is your/my own take on things + maybe my company's? :)

[2022-05-11 19:59] lengning commented on #73
@NNaikp I have been submitting abstracts on behalf of the WG. You are welcome to phrase it as sth from your personal/company perspective as well!

The UseR abstract can be found [here](https://user2022.r-project.org/program/talks/#session-10-building-the-r-community-1)

[2022-05-11 20:05] NNaikp commented on #73
@lengning thanks for the quick reply!
I would prefer to promote the WG :)

Does anybody need to approve it?

[2022-05-11 20:08] lengning commented on #73
no approval needed :) go ahead! would be nice to share the presentation materials with the WG to collect feedback before the presentation

[2022-05-11 22:15] NNaikp commented on #73
Great! This also gives me an opportunity to try and host some xaringan slides on GitHub 🤖

[2022-05-19 04:35] SHAESEN2 commented on #80
@lengning do you want me to put these as issues in the pilot 2 repo?

[2022-05-19 04:44] lengning commented on #80
Putting them here is perfectly fine :) thank you!

[2022-05-24 17:50] lengning opened #82 "[seek review] slide deck and poster for SDSS"
Please leave your feedback by May31. Thank you!
[R submission Pilots to FDA - SDSS presentation.pdf](https://github.com/RConsortium/submissions-wg/files/8765084/R.submission.Pilots.to.FDA.-.SDSS.presentation.pdf)
[SDSS poster - r submission.pdf](https://github.com/RConsortium/submissions-wg/files/8765085/SDSS.poster.-.r.submission.pdf)

[2022-06-21 18:46] #82 closed

[2022-06-21 18:51] AppSecAntibody commented on #82
The poster reads "Roche-Genentech (we are hiring!)". Is that an error ?

[2022-09-02 16:39] rpodcast opened #83 "Update Pilot summaries with contributors"